.logout-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 240px;
    width: 220px;
    border: 1px solid rgb(0, 0, 0, 0.1);
    padding: 1rem;
    border-radius: 24px;
    position: absolute;
    top: -260px;
    left: 170px;
    }

.logout-wrapper img {
    height: 100%;
    width: 100%;
}

.logout-select {
    gap: 8px;
    display: flex;
    flex-direction: column;
}

.logout-btn {
    border-radius: 24px;
    background-color: #000000;
    color: #ffffff;
    padding: 8px;
}

.cancel-btn {
    border-radius: 24px;
    background-color: #ffffff;
    color: #000000;
    padding: 8px;
    border: 1px solid #000000;
}

.logo-container {
    height: 48px;
}

.btn-wrapper {
    gap: 8px;
    display: flex;
    flex-direction: column;
}