.tweet {
  display: flex;
  padding: 15px;
  border-bottom: 1px solid var(--border-color);
  transition: background-color 0.2s;
}

.tweet:hover {
  background-color: var(--hover-bg-color);
}

.tweet-avatar {
  margin-right: 12px;
}

.tweet-avatar img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.tweet-content {
  flex: 1;
}

.tweet-header {
  margin-bottom: 4px;
}

.tweet-name {
  font-weight: bold;
  color: var(--text-color);
  text-decoration: none;
  margin-right: 5px;
}

.tweet-name:hover {
  text-decoration: underline;
}

.tweet-username {
  color: var(--secondary-color);
  font-size: 14px;
  margin-left: 5px;
}
.tweet-date-container {
  position: relative;
  display: inline-block;
}

.tweet-date {
  color: var(--secondary-text-color);
  font-size: 14px;
  margin-left: 5px;
  cursor: pointer;
}

.tweet-date-tooltip {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.15s, visibility 0.15s; /* Faster transition */
  z-index: 100;
}

.tweet-date-container:hover .tweet-date-tooltip {
  opacity: 1;
  visibility: visible;
}

.tweet-date-tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent;
}

.tweet-text {
  margin-bottom: 12px;
  word-wrap: break-word;
  color: var(--text-color);
}

.tweet-actions {
  display: flex;
  justify-content: space-between;
  max-width: 425px;
}

.tweet-action {
  display: flex;
  align-items: center;
  color: var(--secondary-text-color);
  background: none;
  border: none;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s;
}

.tweet-action:hover {
  background-color: var(--primary-hover-color);
}

.tweet-action span {
  margin-left: 4px;
  font-size: 13px;
}

.tweet-action.liked {
  color: var(--like-color);
}

.tweet-action.retweeted {
  color: var(--retweet-color);
}
